<div class="registersection w100 mod">
	<p class="w100 mod">&nbsp;</p>
	<p class="w100 mod">&nbsp;</p>
	<div class="container w80 center">
		<div class="mod w100">
			<div class="description left">
				<h1>Rechercher  un camping</h1>
				<h3>Entrez une ville ou un code postal</h3>
				<h2>Rejoignez la commaut&eacute; d'utilisateurs de campings sur votre route </h2>
				<h3>R&eacute;servez en temps R&eacute;el !!</h3>
			</div>
			<div class="signup right w30">
			<div class="login">	
				<p class="mod center">
					<b></b><label for="ville">ville</label> 
					<input type="ville" ng-model="ville" name="ville" id="ville" value="" placeholder="Nantes ou 44000 " />
				</p>
					
				
			<p class="mod center">
					<button ng-click="addcamping()"> Recherche</button></b>
					
				</p>
				
					</div>
			</div>
		</div>
	</div>
	<p class="w100 mod">&nbsp;</p>
	<p class="w100 mod">&nbsp;</p>
</div>